[submodule "chef-repo/cookbooks/phpbrew"]
	path = chef-repo/cookbooks/phpbrew
	url = https://github.com/oh-my-oss/cookbook-phpbrew.git
[submodule "chef-repo/cookbooks/httpd"]
	path = chef-repo/cookbooks/httpd
	url = git@github.com:oh-my-oss/cookbook-httpd.git
[submodule "chef-repo/cookbooks/base"]
	path = chef-repo/cookbooks/base
	url = https://github.com/oh-my-oss/cookbook-base.git
