[submodule "chef-repo/cookbooks/phpbrew"]
	path = chef-repo/cookbooks/phpbrew
	url = https://github.com/oh-my-oss/cookbook-phpbrew.git
[submodule "chef-repo/cookbooks/httpd"]
	path = chef-repo/cookbooks/httpd
	url = git@github.com:oh-my-oss/cookbook-httpd.git
[submodule "chef-repo/cookbooks/base"]
	path = chef-repo/cookbooks/base
	url = https://github.com/oh-my-oss/cookbook-base.git
[submodule "chef-repo/cookbooks/mysqld"]
	path = chef-repo/cookbooks/mysqld
	url = git@github.com:oh-my-oss/cookbook-mysqld.git
[submodule "chef-repo/cookbooks/tar"]
	path = chef-repo/cookbooks/tar
	url = https://github.com/chef-cookbooks/tar.git
[submodule "chef-repo/cookbooks/dynamodb-local"]
	path = chef-repo/cookbooks/dynamodb-local
	url = https://github.com/oh-my-oss/cookbook-dynamodb-local.git
